.table-header {
    line-height: 100%;
}

.table-title {
    color: white;
    font-size: 20px;
    text-align: left;
    width: 50%;
    line-height: 100%;
}

.table-genre {
    color: #999;
    font-size: 16px;
    text-align: left;
    line-height: 100%;
}

.table-info {
    color: white;
    font-size: 16px;
    text-align: left;
    line-height: 100%;
}

.index {
    font-size: 10px;
}
